/* light theme default */ 
:root {
  --bg-color: #ffffff;
  --text-color: #000000;
  --card-color: #f2f2f2;
}

/* dark theme */ 

body.dark {
  --bg-color: #121212;
  --text-color: #ffffff;
  --card-color: #1e1e1e;
}

body.medium{
  --bg-color: #564789;
  --text-color: #ffff34;
  --card-color: #1439fa;

}
body {
  background-color: var(--bg-color);
  color: var(--text-color);
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 20px;
  transition: 0.3s;
}

.card {
  background-color: var(--bg-color);
  padding: 20px;
  border-radius: 8px;
  margin-top: 20px;
}

button {
  padding: 10px 15px;
  cursor: pointer;
  border: none;
  border-radius: 5px;
}
