* {
  * margin:0;
  * padding:0;
  * box-sizing:border-box;
  * }


.page {
  display: grid;
  grid-template-rows: auto auto 1fr auto; /*need header topnav and footer auto*/
  min-height: 100vh;
  font-family: arial;
  margin: 0;
}

.header {
  background-color: #4caf51;
  color: white;
  text-align: center;
  padding: 30px;

  display: grid;
  place-items: center;
}

.nav {
  background-color: #66bb6b;
}

.nav ul {
  display: grid;
  grid-auto-flow: column;
  justify-content: center;
  gap: 30px;

  list-style: none;
  padding: 15px;
  margin: 0;
}

.nav li {
  color: white;
  font-weight: bold;
}

.main {
  display: grid;
  grid-template-columns: repeat(9, 1fr); /*smth instead of writing sidebar and content over n over*/
  gap: 20px;

  padding: 20px;
  padding-right: 40px; /*empty space without a column */
  background-color: #f5f5f5;
}

.sidebar {
  grid-column: 1 / span 3;

  background-color: #e8f5e9;
  padding: 25px;
  border-radius: 10px;

  display: grid;
  gap: 15px;
  align-content: start;
}



.sidebar h2 {
  margin: 0;
  font-size: 20px;
}

.sidebar h3 {
  margin-top: 10px;
  font-size: 16px;
}

.sidebar ul {
  margin: 0;
  padding-left: 20px;
}

.filter-list li {
  margin-bottom: 6px;
}

.sub-list {
  margin-top: 5px;
  padding-left: 20px;
}

.content {
  grid-column: 4 / span 6;

  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(180px, 1fr)); /*create many columns with min 180px or 1fr default */
  gap: 20px;
}

.card {
  background-color: white;
  padding: 40px 20px;
  border-radius: 10px;
  text-align: center;
}

.card img {
  width: 100%;
  object-fit: cover;
  border-radius: 8px;
  margin: 10px 0 0;
}

.footer {
  background-color: #4caf51;
  color: white;
  text-align: center;
  padding: 15px;

  display: grid;
  place-items: center;
}

