body {
  font-family: sans-serif;
  margin: 20px;
}

/* to apply to all "questions" */
div[class^="q"] {
  padding: 20px;
  border: 1px solid white;
  color: black;
}

.q1 {
  background-color: #ffb3ba;
}

.q2 {
  background-color: #ffdfba;
}

.q3 {
  background-color: #ffffba;
}

.q4 {
  background-color: #baffc9;
}

.q5 {
  background-color: #bae1ff;
}

.q6 {
  background-color: #eecbff;
}

.container1 {
  background-color: black;
  color: white;
  display: grid;
  gap: 10px;
  padding: 10px;
}

.container2 {
  background-color: black;
  color: white;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 10px;
  padding: 10px;
  margin-top: 20px;
}

.container3 {
  background-color: black;
  color: white;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 10px;
  padding: 10px;
  margin-top: 20px;
}

.container4 {
  background-color: black;
  color: white;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 120px auto;
  /* one is fixed, second is auto */
  gap: 10px;
  padding: 10px;
  margin-top: 20px;
}

.container5 {
  background-color: black;
  color: white;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 20px;
  padding: 10px;
  margin-top: 20px;
}

.container6 {
  background-color: black;
  color: white;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 10px;
  padding: 10px;
  margin-top: 20px;
}

.container6 .q1 {
  grid-column: 1 / 3;
}

.container7 {
  background-color: black;
  color: white;
  display: grid;
  gap: 10px;
  padding: 10px;
  margin-top: 20px;
  grid-template-areas:
    "header header header"
    "sidebar content content"
    "footer footer footer";
}

.t7 {
  padding: 20px;
  border: 1px solid white;
}

.t7.header {
  grid-area: header;
  background-color: #ffadad;
  color: black;
}

.t7.sidebar {
  grid-area: sidebar;
  background-color: #ffd6a5;
  color: black;
}

.t7.content {
  grid-area: content;
  background-color: #fdffb6;
  color: black;
}

.t7.footer {
  grid-area: footer;
  background-color: #caffbf;
  color: black;
}

.container8 {
  background-color: black;
  color: white;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  gap: 10px;
  padding: 10px;
  margin-top: 20px;
}

.container9 {
  background-color: black;
  color: white;
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  gap: 10px;
  padding: 10px;
  margin-top: 20px;
}

.container9 .q1 {
  grid-column: span 12;
}

.container9 .q2 {
  grid-column: span 6;
}

.container9 .q3 {
  grid-column: span 6;
}

.container9 .q4 {
  grid-column: span 4;
  
}

.container9 .q5 {
  grid-column: span 8;
}

@supports (display: grid) {
  .container10 {
    background-color: black;
    color: white;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 10px;
    padding: 10px;
    margin-top: 20px;
  }
}